








@font-face {
  font-family: 'cera_probold';
  src: url('../fonts/cera_pro_bold-webfont.eot');
  src: url('../fonts/cera_pro_bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/cera_pro_bold-webfont.woff2') format('woff2'),
  url('../fonts/cera_pro_bold-webfont.woff') format('woff'),
  url('../fonts/cera_pro_bold-webfont.ttf') format('truetype'),
  url('../fonts/cera_pro_bold-webfont.svg#cera_probold') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'cera_promedium';
  src: url('../fonts/cera_pro_medium-webfont.eot');
  src: url('../fonts/cera_pro_medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/cera_pro_medium-webfont.woff2') format('woff2'),
  url('../fonts/cera_pro_medium-webfont.woff') format('woff'),
  url('../fonts/cera_pro_medium-webfont.ttf') format('truetype'),
  url('../fonts/cera_pro_medium-webfont.svg#cera_promedium') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'cera_proregular';
  src: url('../fonts/cera_pro_regular-webfont.eot');
  src: url('../fonts/cera_pro_regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/cera_pro_regular-webfont.woff2') format('woff2'),
  url('../fonts/cera_pro_regular-webfont.woff') format('woff'),
  url('../fonts/cera_pro_regular-webfont.ttf') format('truetype'),
  url('../fonts/cera_pro_regular-webfont.svg#cera_proregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'cera_problack';
  src: url('../fonts/cera_pro_black-webfont.eot');
  src: url('../fonts/cera_pro_black-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/cera_pro_black-webfont.woff2') format('woff2'),
  url('../fonts/cera_pro_black-webfont.woff') format('woff'),
  url('../fonts/cera_pro_black-webfont.ttf') format('truetype'),
  url('../fonts/cera_pro_black-webfont.svg#cera_problack') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'cera_prolight';
  src: url('../fonts/cera_pro_light-webfont.eot');
  src: url('../fonts/cera_pro_light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/cera_pro_light-webfont.woff2') format('woff2'),
  url('../fonts/cera_pro_light-webfont.woff') format('woff'),
  url('../fonts/cera_pro_light-webfont.ttf') format('truetype'),
  url('../fonts/cera_pro_light-webfont.svg#cera_prolight') format('svg');
  font-weight: normal;
  font-style: normal;

}





*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



a{
  text-decoration: none;
}

.width_100{
  width: 100%;
}

.text_align_center{
  text-align: center;
}

.align_items_center{
  align-items: center;
}

.text_decoration_none{
  text-decoration: none;
}

.margin_auto{
  margin: auto;
}

.display_flex{
  display: flex
}

.justify_content_center{
  justify-content: center
}

.justify_content_start{
  justify-content: start;
}

.justify_content_between{
  justify-content: space-between;
}

.flex_wrap{
  flex-wrap: wrap;
}

.container{
  max-width: 1200px;
  margin: auto;
}







header{
  padding-top: 30px;
  margin-bottom: 12px;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  background-color: white;

    .container{
      border-bottom: 0.30px solid rgba(70, 163, 88, 0.5);
      position: relative;

        .header_logo{
          margin-bottom: 18px;
        }

        nav{
          display: flex;
          justify-content: center;
          align-items: center;

            ul {
              gap: 50px;

              li {
                a{
                  font-family: 'cera_proregular';
                  font-weight: 400;
                  font-size: 16px;
                  line-height: 30px;
                  color: #3d3d3d;
                  &:hover{
                    font-family: 'cera_probold';
                  }
                }
                &:first-of-type {
                  width: 45px;
                }

                &:nth-of-type(2) {
                  width: 38px;
                }

                &:nth-of-type(3) {
                  width: 80px;
                }

                &:last-of-type {
                  width: 45px;
                }

                &:after {
                  display: block;
                  content: "";
                  width: 0;
                  height: 3px;
                  background-color: #46A358;
                  transition: 0.6s;
                  margin-top: 22px;
                }

                &:hover {
                  &:after {
                    width: 100%;
                  }
                }
              }

              li.dropdown {
                position: relative;

                  &:hover {
                    .dropdown_all {
                      height: 215px;
                    }
                  }

                  .dropdown_all{
                    overflow: hidden;
                    height: 0;
                    transition: 0.6s;
                    position: absolute;
                    top: 65px;
                    left: -55px;
                    align-items: start;
                    width: 355px;

                    ul.submenu{
                      min-width: 188px;
                      background-color: #edf6ee;

                      li{
                        width: auto;
                        padding: 7px 14px;
                        &:after{
                          display: none;
                        }
                        &:hover{
                          background-color: #1a712a;
                          width: 100%;
                          a{
                            font-family: 'cera_probold';
                            color: #fff;
                          }
                        }
                        a{
                          line-height: 22px;
                        }

                        &:last-of-type{
                          position: relative;
                          &:hover{
                            ul.submenu_2{
                              width: 178px;
                              max-height: 215px;
                            }
                          }

                          ul.submenu_2{
                            background-color: #edf6ee;
                            position: absolute;
                            top: -109px;
                            left: 190px;
                            overflow: hidden;
                            width: 0;
                            transition: 0.6s;
                            li{
                              &:hover{
                                a{
                                  font-family: 'cera_probold';
                                  color: #fff;
                                }
                              }
                              a{
                                font-family: 'cera_proregular';
                                font-weight: 400;
                                font-size: 16px;
                                color: #3d3d3d;
                                white-space: nowrap;
                                &:after{
                                  display: none;
                                }
                              }
                            }
                          }

                          &:hover {
                            a:after{
                              background-image: url("../images/arrow_submenu_left_w.svg");
                            }
                          }

                          a{
                            &:after{
                              display: inline-block;
                              content: "";
                              width: 10px;
                              height: 10px;
                              background-image: url("../images/arrow_submenu_right_bl.svg");
                              background-repeat: no-repeat;
                              position: absolute;
                              right: 17px;
                              top: 12px;
                            }
                          }
                        }
                      }
                    }
                  }
              }
            }
        }


      .header_search{
        display: block;
        content: "";
        width: 20px;
        height: 20px;
        background-image: url("../images/loupe_grey.svg");
        background-repeat: no-repeat;
        position: absolute;
        right: 190px;
        top: 8px;
        &:hover{
          background-image: url("../images/loupe_green.svg");
        }
      }

      .header_basket{
        display: block;
        content: "";
        width: 24px;
        height: 24px;
        background-image: url("../images/basket_black.svg");
        position: absolute;
        right: 130px;
        top: 8px;
        &:hover{
          background-image: url("../images/basket_green.svg");
        }
      }


      .header_login{
        margin-bottom: 18px;
        border-radius: 7px;
        border: 1px solid #46A358;
        background-color: #46A35880;
        overflow: hidden;
      }

      .header_login:hover{
        border: 1px solid red;
      }

      .header_login:active{
        border: 1px solid #46A358;
      }


      .header_login{
        a{
          padding: 8px 17px;
          background: #46A358;
          border-radius: 6px;
          border: 1px solid #46A358;
          font-family: 'cera_promedium';
          font-weight: 500;
          font-size: 16px;
          color: #fff;
          transition:  0.4s;
          will-change: transform;
          &:before{
            display: inline-block;
            content: "";
            width: 20px;
            height: 20px;
            margin-right: 4px;
            background-image: url("../images/logout.svg");
          }
            &:active{
              border: 1px solid red;
              border-radius: 7px;
              transform: scale(0.9);
            }
          &:focus {
            outline: none;
          }
        }
      }
    }
}


main{
  padding-top: 95px;
}


.banner{
  .container{
    background: linear-gradient(135deg, rgba(245, 245, 245, 0.5) 0%, rgba(245, 245, 245, 0.5) 100%);
    margin-bottom: 46px;
    align-items: center;

    .banner_left{
      max-width: 693px;
      padding: 68px 0 94px 40px;

      h3{
        font-family: 'cera_promedium';
        font-weight: 500;
        font-size: 14px;
        line-height: 114%;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #3d3d3d;
        margin-bottom: 7px;
      }

        h1{
          font-family: 'cera_problack';
          font-weight: 900;
          font-size: 70px;
          line-height: 100%;
          text-transform: uppercase;
          color: #3d3d3d;
          margin-bottom: 5px;

          span{
            color: #46a358;
          }
        }

          p{
            font-family: 'cera_proregular';
            font-weight: 400;
            font-size: 14px;
            line-height: 171%;
            color: #727272;
            margin-bottom: 44px;
          }

          a{
            font-family: 'cera_probold';
            font-weight: 700;
            font-size: 16px;
            line-height: 125%;
            text-transform: uppercase;
            color: #fff;
            border-radius: 6px;
            border: 1px solid #46a358;
            background: #46a358;
            padding: 10px 27px;
            &:hover{
              border: 1px solid red;
            }
          }
    }

    .banner_right{
      max-width: 450px;
      width: 100%;
      height:auto;
    }
  }
}




.categories{
  .container {
    margin-bottom: 146px;

    .categories_all {
      margin-bottom: 90px;
      gap: 50px;

      .categories_left{
        max-width: 310px;

        .categories_left_top{
          background: #fbfbfb;
          padding: 14px 24px 19px 18px;

          h3{
            font-family: 'cera_probold';
            font-weight: 700;
            font-size: 18px;
            line-height: 89%;
            color: #3d3d3d;
            margin-bottom: 22px;

            &:nth-of-type(2){
              margin-bottom: 20px;
            }
          }


          ul{
            padding-left: 12px;

            &:first-of-type{
              margin-bottom: 36px;
            }

            li{
              margin-bottom: 28px;

              &:last-of-type{
                margin-bottom: 15px;
              }

              a{
                display: flex;
                justify-content: space-between;
                font-family: 'cera_proregular';
                font-weight: 400;
                font-size: 15px;
                line-height: 107%;
                color: #3d3d3d;

                &:hover{
                  font-family: 'cera_probold';
                  font-weight: 700;
                  color: #46a358;
                }
              }
            }
          }
          .categories .green_line{
            padding: 0 66px 0 12px;
            margin-bottom: 15px;
            gap: 3px;

            span{
              &:first-of-type{
                border-radius: 50%;
                height: 15px;
                width: 15px;
                background-color: #46a358;
              }
              &:nth-of-type(2){
                height: 4px;
                width: 120px;
                background-color: #46a358;
              }
              &:nth-of-type(3){
                border-radius: 50%;
                height: 15px;
                width: 15px;
                background-color: #46a358;
              }
              &:last-of-type{
                width: 40px;
                height: 4px;
                background-color: rgba(70, 163, 88, 0.2);
              }
            }
          }
          .categories_left_top_price{
            margin-bottom: 16px;
            padding-left: 12px;

            span{
              &:first-of-type{
              font-family: 'cera_proregular';
              font-weight: 400;
              font-size: 15px;
              line-height: 107%;
              color: #3d3d3d;
              margin-right: 5px;
            }
              &:nth-of-type(2){
                font-family: 'cera_probold';
                font-weight: 700;
                color: #46a358;
              }
            }
          }
          .categories_left_top_button{
            display: inline-block;
            padding: 8px 25px;
            background: #46a358;
            border-radius: 6px;
            font-family: 'cera_probold';
            font-weight: 700;
            font-size: 16px;
            line-height: 125%;
            color: #fff;
            border: 1px solid #46a358;
            margin: 0 0 46px 12px;

            &:hover{
              border: 1px solid red;
            }
          }
        }
      }
      .categories_right{
        max-width: 840px;
        width: 100%;

        .categories_right_top{
          margin-bottom: 38px;

          .categories_right_top_left{
            max-width: 258px;

            li{
              display: flex;
              align-items: center;

              &:first-of-type{
                width: 70px;
              }
              &:nth-of-type(2){
                width: 100px;
              }

              a{
                font-family: 'cera_proregular';
                font-weight: 400;
                font-size: 15px;
                line-height: 107%;
                color: #3d3d3d;

                &:after{
                  display: block;
                  content: "";
                  width: 0;
                  height: 2px;
                  background-color:  #46a358;
                  margin-top: 5px;
                  transition: 0.6s;
                }

                &:hover{
                  font-family: 'cera_probold';
                  font-weight: 700;
                  color: #46A358;

                  &:after{
                    width: 100%;
                  }
                }
              }
            }
          }
          .categories_right_top_right{
            font-family: 'cera_proregular';
            font-weight: 400;
            font-size: 15px;
            line-height: 107%;
            color: #3d3d3d;
            white-space: pre;

            &:after{
              display: flex;
              content: "";
              width: 16px;
              height: 16px;
              background-image: url("../images/arrow_down.svg");
              margin-left: 5px;
            }
          }
        }
        .categories_right_next{
          gap: 70px 0;

          .categories_right_card{
            max-width: 258px;
            border-top:  1px solid #fbfbfb;
            overflow: hidden;
            position: relative;
            margin: auto;

            &:hover{
              border-top:  1px solid #46a358;

              ul{
                left: 0;
              }
            }

            .categories_right_card_top{
              background: linear-gradient(135deg, rgba(245, 245, 245, 0.5) 0%, rgba(245, 245, 245, 0.5) 100%);
              padding: 20px 4px 40px;
              margin-bottom: 12px;

              a{
                img{
                  max-width: 250px;
                  height: 250px;
                  object-fit: contain;
                }
              }
            }

            a{
              span {
                display: block;
                font-family: 'cera_proregular';
                font-weight: 400;
                font-size: 16px;
                line-height: 100%;
                color: #3d3d3d;
                margin-bottom: 6px;

                &:nth-of-type(2){
                  font-family: 'cera_probold';
                  font-weight: 700;
                  font-size: 18px;
                  line-height: 89%;
                  color: #46a358;
                  margin-bottom: 0;
                  display: inline;
                  margin-right: 16px;
                }

                  &:nth-of-type(3){
                    font-family: 'cera_proregular';
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 89%;
                    color: #a5a5a5;
                    margin-bottom: 0;
                    text-decoration: line-through;
                    display: inline;
                  }
              }
            }

            ul{
              display: flex;
              justify-content: center;
              gap: 10px;
              width: 100%;
              position: absolute;
              left: -200px;
              bottom: 55px;
              transition: 0.5s;

              li{
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 4px;
                width: 35px;
                height: 35px;
                background: #fff;

                &:first-of-type {
                  a{
                    & :after {
                      display: block;
                      content: "";
                      width: 20px;
                      height: 20px;
                      background-image: url("../images/shopping_grey.svg");
                      background-repeat: no-repeat;
                    }
                  }


                  &:hover {
                    a{
                      &:after {
                        display: block;
                        content: "";
                        width: 20px;
                        height: 20px;
                        background-image: url("../images/shopping_green.svg");
                        background-repeat: no-repeat;
                      }
                    }
                  }
                }

                &:nth-of-type(2) {
                  a {
                    &:after {
                      display: block;
                      content: "";
                      width: 20px;
                      height: 20px;
                      background-image: url("../images/heart_grey.svg");
                      background-repeat: no-repeat;
                    }
                  }
                  &:hover {
                    a {
                      &:after {
                        display: block;
                        content: "";
                        width: 20px;
                        height: 20px;
                        background-image: url("../images/heart_green.svg");
                        background-repeat: no-repeat;
                      }
                    }
                  }
                }



                &:last-of-type {
                  a {
                    &:after {
                      display: block;
                      content: "";
                      width: 20px;
                      height: 20px;
                      background-image: url("../images/loupe_grey.svg");
                      background-repeat: no-repeat;
                    }
                  }

                  &:hover {
                    a {
                      &:after {
                        display: block;
                        content: "";
                        width: 20px;
                        height: 20px;
                        background-image: url("../images/loupe_green.svg");
                        background-repeat: no-repeat;
                      }
                    }
                  }
                }


              }
            }


            .categories_right_card_label{
              display: inline-block;
              background-color: #46A358;
              padding: 7px 8px;
              font-family: 'cera_promedium';
              font-weight: 500;
              font-size: 16px;
              line-height: 100%;
              color: #fff;
              position: absolute;
              top: 14px;
              left: 0;
            }







          }


          }




        }



      }



    }
  }














.categories_bottom ul{
  justify-content: end;
  gap: 10px;
}

.categories_bottom li{
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}

.categories_bottom li:hover{
  background: #46a358;
}

.categories_bottom ul li a{
  font-family: 'cera_prolight';
  font-weight: 300;
  font-size: 18px;
  line-height: 89%;
  color: #3d3d3d;
  width: 35px;
  height: 35px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.categories_bottom li a:hover{
  font-family: 'cera_probold';
  font-weight: 700;
  color: #fff;
}

.categories_bottom ul li:last-of-type a:after{
  display: block;
  content: "";
  width: 18px;
  height: 18px;
  background-image: url("../images/arrow_right.svg");
}

.categories_bottom ul li:last-of-type a:hover:after{
  display: block;
  content: "";
  width: 18px;
  height: 18px;
  background-image: url("../images/arrow_right_hover.svg");
}






/*PROMO*/


.promo{
  margin-bottom: 138px;
}

.promo_all{
  background-color: #FBFBFB;
  max-width: 586px;
  padding: 37px 30px 46px 0;

}

.promo_left{
  position: relative;

}

.promo_left img{
  position: absolute;
  top: -85px;
  max-width: 287px;
  height: 292px;
}

.promo_right{
  text-align: right;
}

.promo h3{
  display: inline-block;
  max-width: 150px;
  font-family: 'cera_problack';
  font-weight: 900;
  font-size: 18px;
  line-height: 133%;
  text-transform: uppercase;
  color: #3d3d3d;
  margin-bottom: 9px;
}

.promo p{
  font-family: 'cera_proregular';
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #727272;
  margin-bottom: 25px;
}

.promo a{
  display: inline-flex;
  align-items: center;
  padding: 10px 24px;
  font-family: 'cera_promedium';
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #fff;
  background: #46a358;
  border-radius: 6px;
  border: 1px solid #46a358;
}

.promo a:after{
  display: inline-block;
  content:"";
  width: 18px;
  height: 18px;
  margin-left: 5px;
  background-image: url("../images/arrow_rght_w.svg");
}

.promo a:hover{
  border: 1px solid red;
}




/*BLOG*/

.blog{
  margin-bottom: 100px;
}

.blog h2{
  font-family: 'cera_probold';
  font-weight: 700;
  font-size: 30px;
  line-height: 53%;
  text-align: center;
  color: #3d3d3d;
  margin-bottom:  15px;
}

.blog_text{
  font-family: 'cera_proregular';
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #727272;
  text-align: center;
  margin-bottom:  35px;
}

.blog_bottom{
  flex-direction: column;

  max-width: 268px;
  width: 100%;
}

.blog_bottom_bottom{
  background-color: #FBFBFB;
  padding: 9px 11px 12px 15px;
}

.blog_bottom p{
  font-family: 'cera_promedium';
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  color: #46a358;
  margin: 8px 0 4px;
}

.blog_bottom h3{
  font-family: 'cera_probold';
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #3d3d3d;
  margin-bottom: 4px;
}

.blog_bottom p:nth-of-type(2){
  font-family: 'cera_proregular';
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #727272;
  margin-bottom: 9px;
}

.blog_bottom a{
  font-family: 'cera_promedium';
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  color: #3d3d3d;
}

.blog_bottom a::after{
  display: inline-flex;
  align-items: center;
  content: "";
  width: 16px;
  height: 16px;
  background-image: url("../images/arrow_right_b.svg");
  background-repeat: no-repeat;
  margin-left: 6px;
}

.blog_bottom a:hover{
  color: #46a358;
}

.blog_bottom a:hover::after{
  background-image: url("../images/arrow_right_g.svg");
}




/*NEWSLETTER*/

.newsletter_all{
  background: #fbfbfb;
  padding: 25px;
}

.newsletter_block{
  max-width: 204px;
  position: relative;
}

.newsletter_block:first-of-type::after,
.newsletter_block:nth-of-type(2)::after{
  display: inline-block;
  content: "";
  width: 1px;
  height: 187px;
  background: rgba(70, 163, 88, 0.1);
  position: absolute;
  top: 6px;
  left: 234px;
}

.newsletter_block_last{
  max-width: 354px;
}

.newsletter_block img{
  margin-bottom: 15px;
}

.newsletter_all h3{
  font-family: 'cera_probold';
  font-weight: 700;
  font-size: 17px;
  line-height: 94%;
  color: #3d3d3d;
  margin-bottom: 9px;
}

.newsletter_block_last h3{
  font-family: 'cera_probold';
  font-weight: 700;
  font-size: 18px;
  line-height: 89%;
  color: #3d3d3d;
  padding-top: 13px;
  margin-bottom: 25px;
}

.newsletter_all p{
  font-family: 'cera_proregular';
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #727272;
  position: relative;
}

.newsletter_block_last p{
  font-family: 'cera_proregular';
  font-weight: 400;
  font-size: 13px;
  line-height: 169%;
  color: #727272;
}

.newsletter_block_form{
  width: 100%;
  margin-bottom: 18px;
}

.newsletter_block_input{
  font-family: 'cera_proregular';
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  color: #acacac;
  padding: 12px 11px;
  background: #fff;
  border-radius: 6px 0 0 6px;
  border: 1px solid #eaeaea;
  width: 100%;
}

.newsletter_block_input:hover{
  border: 1px solid #46a358;
}

.newsletter_block_button{
  background: #46a358;
  font-family: 'cera_probold';
  font-weight: 700;
  font-size: 18px;
  line-height: 89%;
  color: #fff;
  padding: 12px 25px 12px 26px;
  border-radius: 0 6px 6px 0;
  border: 1px solid #46A358;
}

.newsletter_block_button:hover{
  border: 1px solid red;
}





/*CONTACTS*/

.contacts_all{
  background: linear-gradient(90deg, #edf6ef 0%, #52c368 100%);
  padding: 25px;
}

.contacts_all a{
  font-family: 'cera_proregular';
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #3d3d3d;
}

.contacts_all a:first-of-type{
  margin-right: 116px;
}

.contacts_all a:nth-of-type(2){
  max-width: 176px;
  margin-right: 90px;
  position: relative;
}

.contacts_all a:nth-of-type(2):before{
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../images/location.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: -29px;
  top: 14px;
}

.contacts_all a:nth-of-type(3){
  max-width: 165px;
  margin-right: 101px;
  position: relative;
}

.contacts_all a:nth-of-type(3):before{
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../images/message.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: -29px;
  top: 2px;
}

.contacts_all a:last-of-type{
  position: relative;
}

.contacts_all a:last-of-type:before{
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../images/calling.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: -28px;
  top: 2px;
}




/*FOOTER*/

.footer_top{
  background: #fbfbfb;
  padding: 33px 155px 29px 25px;
  border-bottom: solid 1px rgba(70, 163, 88, 0.2);
  margin-bottom: 6px;
}

.footer_top .footer_block h3{
  font-family: 'cera_probold';
  font-weight: 700;
  font-size: 18px;
  line-height: 89%;
  color: #3d3d3d;
  margin-bottom: 8px;
}

.footer_top .footer_block ul li a{
  font-family: 'cera_proregular';
  font-weight: 400;
  font-size: 14px;
  line-height: 214%;
  color: #3d3d3d;
}

.footer_top .footer_block ul li a:hover{
  font-weight: 400;
  color: #46a358;
}

.footer_block:last-of-type h3{
  margin-bottom: 20px;
}

.footer_block:last-of-type ul{
  display: flex;
  justify-content: start;
  gap: 10px;
  margin-bottom: 33px;
}

.footer_block:last-of-type ul li{
  transition: 0.4s;
}

.footer_block:last-of-type ul li:hover{
  transform: scale(130%);
}

.footer_block:last-of-type ul li a .icon{
  width: 30px;
  height: 30px;
  display: inline-block;
}


/*.footer_block:last-of-type ul li:first-of-type a:after{*/
/*    display: inline-block;*/
/*    content: "";*/
/*    width: 32px;*/
/*    height: 32px;*/
/*    background-image: url("../images/facebook_footer.svg");*/
/*    background-repeat: no-repeat;*/
/*}*/

/*.footer_block:last-of-type ul li:nth-of-type(2) a:after{*/
/*    display: inline-block;*/
/*    content: "";*/
/*    width: 32px;*/
/*    height: 32px;*/
/*    background-image: url("../images/instagram_footer.svg");*/
/*    background-repeat: no-repeat;*/
/*}*/

/*.footer_block:last-of-type ul li:nth-of-type(3) a:after{*/
/*    display: inline-block;*/
/*    content: "";*/
/*    width: 32px;*/
/*    height: 32px;*/
/*    background-image: url("../images/twitter_footer.svg");*/
/*    background-repeat: no-repeat;*/
/*}*/

/*.footer_block:last-of-type ul li:nth-of-type(4) a:after{*/
/*    display: inline-block;*/
/*    content: "";*/
/*    width: 32px;*/
/*    height: 32px;*/
/*    background-image: url("../images/linkidin_footer.svg");*/
/*    background-repeat: no-repeat;*/
/*}*/

/*.footer_block:last-of-type ul li:last-of-type a:after{*/
/*    display: inline-block;*/
/*    content: "";*/
/*    width: 32px;*/
/*    height: 32px;*/
/*    background-image: url("../images/youtube_footer.svg");*/
/*    background-repeat: no-repeat;*/
/*}*/

.footer_block:last-of-type h3:last-of-type{
  margin-bottom: 13px;
}

.footer_bottom{
  font-family: 'cera_proregular';
  font-weight: 400;
  font-size: 14px;
  line-height: 214%;
  color: #3d3d3d;
  margin-bottom: 22px;
}




/*REGISTER*/

.register_all{
  max-width: 500px;
  border: solid 1px silver;
  border-bottom: solid 10px #46a358;
  padding: 52px 100px 50px
}
.registration{
  margin-bottom: 40px;
  gap: 11px;
}
.registration_login{
  color: #3d3d3d;
}

.registration_login::after{
  display: inline-block;
  content: "";
  Width: 1px;
  Height: 12px;
  background-color: black;
  margin-left: 11px;
}

.registration_register{
  color: #46a358;
}

.registration_login, .registration_register{
  font-weight: 500;
  font-size: 20px;
  line-height: 80%;
  font-family: 'cera_promedium';
}

.registration_text{
  font-family: 'cera_proregular';
  font-weight: 400;
  font-size: 13px;
  line-height: 123%;
  color: #3d3d3d;
  margin-bottom: 14px
}

.register_form_text{
  font-family: 'cera_proregular';
  width: 100%;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  padding: 12px 14px;
  box-sizing: border-box;
  margin-bottom: 16px;
}

.register_form_text:hover{
  border: 1px solid green;
}

.register_form_text:focus{
  border: 1px solid blue;
}

.register_password{
  margin-bottom: 41px;
}

.registration_button{
  border-radius: 5px;
  border: 1px solid #46a358;
  font-family: 'cera_probold';
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #fff;
  background: #46a358;
  padding: 15px 15px;
  margin-bottom: 36px;
}

.registration_button:hover{
  border: 1px solid red;
}

.registration_button:focus{
  border: 1px solid red;
}

.other_registration_text{
  font-family: 'cera_proregular';
  font-weight: 400;
  font-size: 13px;
  line-height: 123%;
  color: #3d3d3d;
  margin-bottom: 27px;
}

.other_registration_text::before{
  display: inline-block;
  content: "";
  width: 90px;
  height: 1px;
  background-color: #EAEAEA;
  margin-right: 6px;
  vertical-align: middle;
}

.other_registration_text::after{
  display: inline-block;
  content: "";
  width: 90px;
  height: 1px;
  background-color: #EAEAEA;
  margin-left: 6px;
  vertical-align: middle;
}

.registration_google{
  margin-bottom: 15px;
}

.registration_google:hover{
  border: 1px solid green;
}

.registration_facebook:hover{
  border: 1px solid green;
}

.registration_google, .registration_facebook{
  font-family: 'cera_promedium';
  font-weight: 500;
  font-size: 13px;
  line-height: 123%;
  color: #727272;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  padding: 10px;
}

.registration_google::before{
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
  margin-right: 9px;
  background-image: url("../images/google.svg");
}

.registration_facebook::before{
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
  margin-right: 4px;
  background-image: url("../images/facebook.svg");
}





/*PRELOADER*/

.preloader{
  width: 100vw;
  height: 100vh;
  background-color: lightgray;
  position: fixed;
  z-index: 10;
  overflow: hidden;

  animation-name: preloader;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes preloader {
  0%{
    visibility: visible;
    opacity: 1;
  }

  65%{
    visibility: visible;
    opacity: 1;
  }

  100%{
    visibility: hidden;
    opacity: 0;
  }
}


.circle_out{
  width: 250px;
  height: 250px;
  background-color: lightgray;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-top: 10px solid #46A358;
  border-right: 10px solid white;
  border-bottom: 10px solid #46A358;
  border-left: 10px solid white;
  border-radius: 50%;

  animation-name: circle_out;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes circle_out {
  0%{
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100%{
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.circle_in{
  width: 230px;
  height: 230px;
  background-color: lightgray;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-top: 10px solid white;
  border-right: 10px solid #46A358;
  border-bottom: 10px solid white;
  border-left: 10px solid #46A358;
  border-radius: 50%;

  animation-name: circle_in;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-direction: reverse;
  animation-iteration-count: infinite;

}

@keyframes circle_in {
  0%{
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100%{
    transform: translate(-50%, -50%) rotate(180deg);
  }
}

.hello{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hello .hello_in{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.hello .hello_in p{
  font-family: 'cera_probold';
  font-weight: 700;
  font-size: 28px;
  line-height: 89%;
  font-style: italic;
  color: #46A358;
  position: absolute;
  left: 300px;
  padding: 30px;
  animation: hello;

  animation-duration: 3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes hello{
  0%{
    left: 200px;
  }

  100%{
    left: 0;
  }
}























