*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.width_100{
    width: 100%;
}
.text_align_center{
    align-items: center;
}

.text_decoration_none{
    text-decoration: none;
}

.margin_auto{
    margin: auto;
}

.display_flex{
    display: flex
}

.justify_content_center{
    justify-content: center
}

.justify_content_between{
    justify-content: space-between;
}




.container{
    width: 1200px;
    margin: auto;
}


header{
    padding-top: 30px;
    margin-bottom: 12px;
}



header nav ul{
    gap: 50px;
}


header nav ul li{
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
}

.header_list{
    font-weight: 700;
}

.header_login{
    padding: 8px 17px;
    background: #46A358;
    border-radius: 6px;
    display: inline-flex;
    gap: 4px;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
}

header .container{
    border-bottom: 0.30px solid rgba(70, 163, 88, 0.5);
    padding-bottom: 18px;
}



main .banner .container{
    background: linear-gradient(135deg, rgba(245, 245, 245, 0.5) 0%, rgba(245, 245, 245, 0.5) 100%);
}

.banner_left{
    padding-left: 40px;
}

main .banner .banner_left h3{
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3d3d3d;
    padding-top: 68px;
    margin-bottom: 7px;
}

main .banner .banner_left h1{
    font-weight: 900;
    font-size: 70px;
    line-height: 100%;
    text-transform: uppercase;
    color: #3d3d3d;
    margin-bottom: 5px;
}

main .banner .banner_left h1 span{
    color: #46a358;
}

main .banner .banner_left p{
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
    margin-bottom: 44px;
}

main .banner .banner_left a{
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-transform: uppercase;
    color: #fff;
    border-radius: 6px;
    background: #46a358;
    text-decoration: none;
    padding: 10px 27px;
}









.register_all{
    max-width: 500px;
    border: solid 1px silver;
    border-bottom: solid 10px #46a358;
    padding: 52px 100px 50px
}
.registration{
    margin-bottom: 40px;
    gap: 11px;
}
.registration_login{
    color: #3d3d3d;
}

.registration_register{
    color: #46a358;
}

.registration_login, .registration_register{
    font-weight: 500;
    font-size: 20px;
    line-height: 80%;
}

.registration_text{
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    color: #3d3d3d;
    margin-bottom: 14px
}

.register_form_text{
    width: 100%;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 12px 14px;
    box-sizing: border-box;
    margin-bottom: 16px;
}

.register_password{
    margin-bottom: 41px;
}

.registration_button{
    border-radius: 5px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    background: #46a358;
    padding: 15px 15px;
    margin-bottom: 36px;
}

.other_registration_text{
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    color: #3d3d3d;
    margin-bottom: 27px;
}
.registration_google{
    gap: 9px;
    margin-bottom: 15px;
}

.registration_facebook{
    gap: 4px;
}

.registration_google, .registration_facebook{
    font-weight: 500;
    font-size: 13px;
    line-height: 123%;
    color: #727272;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 10px;
}







